@model Marka
@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>@Html.Raw(Model.Name)</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <form method="post">
                <p class="text-danger">Bu məlumatı silmək istəyirsiniz?</p>
                <input type="submit" class="btn btn-danger" value="Delete" />
            </form>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <a asp-action="Index"><i class="fas fa-arrow-left"></i> Go Back</a>
        </div>
    </div>
</div>


